<ng-container *ngIf="recipe">
  <div
    class="recipe-image"
    [style.background-image]="'url(' + recipe.image + ')'"
  ></div>
  <div class="recipe-data">
    <section class="recipe-header">
      <h1 class="recipe-title">{{ recipe.name }}</h1>

      <button
        class="recipe-like-toggle-btn"
        [ngClass]="likeToggle() ? 'primary' : 'secondary'"
        (click)="onLikeToggleClick()"
      >
        <svg class="recipe-favorite-icon">
          <use xlink:href="../../assets/sprite.svg#icon-favorite"></use>
        </svg>
        {{ likeToggle() ? "Unlike" : "Like" }}
      </button>
      <button class="secondary" (click)="onEdit()">Edit</button>
    </section>

    <section>
      <p class="recipe-author-info">
        <span>by: {{ recipe.author }}</span>
        <span>created at: {{ recipe.created | date : "dd/MM/yyyy" }}</span>
      </p>
    </section>

    <section class="recipe-details">
      <mat-chip class="recipe-styles">
        {{ recipe.style }}
      </mat-chip>
      <span class="recipe-time">
        <svg class="recipe-time-icon">
          <use xlink:href="../../assets/sprite.svg#icon-time"></use>
        </svg>
        {{ recipe.time }}</span
      >
    </section>

    <section>
      <div class="recipe-subtitle">Notes</div>
      <div class="recipe-notes">&quot;{{ recipe.notes }}&quot;</div>
      <div class="recipe-subtitle">Ingredients</div>
      <ul class="recipe-ingredients">
        <li *ngFor="let ingredient of recipe.ingredients">
          {{ ingredient }}
        </li>
      </ul>
      <div class="recipe-subtitle">Instructions</div>
      <ul class="recipe-instructions">
        <li *ngFor="let instruction of recipe.instructions; let i = index">
          <span class="recipe-instruction-counter">{{ i + 1 }}</span>
          <span class="recipe-instruction-item">{{ instruction }}</span>
        </li>
      </ul>
    </section>
  </div>
</ng-container>
