@import "../../../styles.scss";

h1 {
  font-family: var(--font-poppins);
  font-size: 3rem;
  margin: 32px 32px 40px 32px;
}

.recipe-edit-form {
  padding: 0 32px 64px 32px;
}

.form-controls-group {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.form-control {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 6px;
}

svg.add-icon {
  fill: var(--btn-bg-color);
  width: 12px;
  height: 12px;
}

.form-control-array-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.form-control-array-label {
  font-size: 16px;
  font-weight: 700;
}

.form-control-array-list {
  list-style-type: none;
}

.form-control-array-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px;
}

.form-item-remove {
  svg {
    width: 16px;
    height: 16px;
    fill: #e86161;
    cursor: pointer;
  }
}

#notes {
  resize: none;
}

.form-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #f6f7f9;
  box-shadow: 0 1px #7552f621 inset;
  padding: 1.6rem 3.2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.form-control-error {
  display: block;
  margin-top: 4px;
  font-size: 12px;
  color: #e86161;
}
