<h1>New recipe</h1>

<form class="recipe-edit-form" [formGroup]="recipeForm">
  <div class="form-controls-group">
    <div>
      <label for="name">Name</label>
      <input type="text" formControlName="name" placeholder="Dish name" />
      <span
        *ngIf="formSubmitted() && recipeForm.get('name')?.errors?.['required']"
        class="form-control-error"
      >
        Name is required!
      </span>
    </div>

    <div>
      <label for="style">Style</label>
      <select formControlName="style" id="style">
        <option *ngFor="let option of cookingEnumOptions" [value]="option">
          {{ option }}
        </option>
      </select>
      <span
        *ngIf="formSubmitted() && recipeForm.get('style')?.errors?.['required']"
        class="form-control-error"
      >
        Style is required!
      </span>
    </div>
  </div>

  <div class="form-controls-group">
    <div>
      <label for="author">Author</label>
      <input type="text" formControlName="author" placeholder="Jon doe" />
    </div>

    <div>
      <label for="time">Time (minutes)</label>
      <input type="number" formControlName="time" />

      <span
        *ngIf="formSubmitted() && recipeForm.get('time')?.errors?.['min']"
        class="form-control-error"
      >
        Time must be grater than 0!
      </span>

      <span
        *ngIf="formSubmitted() && recipeForm.get('time')?.errors?.['required']"
        class="form-control-error"
      >
        Time is required!
      </span>
    </div>
  </div>

  <div class="form-control">
    <label for="image">Image</label>
    <input
      type="text"
      formControlName="image"
      placeholder="https://image-url.com"
    />
  </div>

  <div class="form-control">
    <label for="notes">Notes</label>
    <textarea
      formControlName="notes"
      id="notes"
      rows="5"
      placeholder="Your notes here..."
    ></textarea>
  </div>

  <div class="form-control" formArrayName="ingredients">
    <div class="form-control-array-header">
      <label class="form-control-array-label">Ingredients</label>
      <button
        class="secondary"
        type="button"
        (click)="addIngredient()"
      >
        <svg class="add-icon">
          <use xlink:href="../../assets/sprite.svg#icon-add"></use>
        </svg>
        <span>Add</span>
      </button>
    </div>
    <ul class="form-control-array-list">
      <li
        *ngFor="let ingredient of ingredientForms.controls; let i = index"
        [formGroupName]="i"
        class="form-control-array-item"
      >
        <input type="text" formControlName="ingredient" />
        <div class="form-item-remove" (click)="removeIngredient(i)">
          <svg>
            <use xlink:href="../../assets/sprite.svg#icon-delete"></use>
          </svg>
        </div>
      </li>
    </ul>

    <span
      *ngIf="formSubmitted() && recipeForm.get('ingredients')?.errors?.['minLengthArray']"
      class="form-control-error"
    >
      At least one ingredient is required!
    </span>
  </div>

  <div class="form-control" formArrayName="instructions">
    <div class="form-control-array-header">
      <label class="form-control-array-label">Instructions</label>
      <button
        class="secondary"
        type="button"
        (click)="addInstruction()"
      >
        <svg class="add-icon">
          <use xlink:href="../../assets/sprite.svg#icon-add"></use>
        </svg>
        <span>Add</span>
      </button>
    </div>
    <ul class="form-control-array-list">
      <li
        *ngFor="let instruction of instructionForms.controls; let i = index"
        [formGroupName]="i"
        class="form-control-array-item"
      >
        <input type="text" formControlName="instruction" />
        <div class="form-item-remove" (click)="removeInstruction(i)">
          <svg>
            <use xlink:href="../../assets/sprite.svg#icon-delete"></use>
          </svg>
        </div>
      </li>
    </ul>
    <span
      *ngIf="formSubmitted() && recipeForm.get('instructions')?.errors?.['minLengthArray']"
      class="form-control-error"
    >
      At least one instruction is required!
    </span>
  </div>
</form>

<footer class="form-footer">
  <button class="primary btn-save" type="submit" (click)="onSubmit()">Save</button>
  <button *ngIf="editMode" class="tertiary" (click)="onDeleteRecipe()">
    Delete recipe
  </button>
</footer>
